.myaccount-section {
    // @include childCenter;
    // background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: url("../../assets/img/splash.jpg") center/cover;
    width : 100%;
    min-height : 100vh;
    display: flex;
    flex-direction: column;
    &-title {
        width :50%;
        margin: 20px auto;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            margin-left: 10px;
        }
    }
}