.reference-section {
  padding:10px 40px;
  background: url("../../assets/img/splash.jpg") center/cover;
  min-height : 100vh;
  &__title {
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 30px;
  }

}