// comma : .class1, .class2 apply to class1 and class 2
//space : .class1 .class2 apply to class 2 that is inside class 1
//no space : .class1.class2 apply to element that has both classes
.calendar {
    z-index:1;
    margin: 20px auto 20px;
    width : 97%;
    min-height : 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    @media (max-width: 950px){
        display:block;
    }
    &-left-bar {   
        width : 95%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: 950px){
            display:none;
        }
        .calendar-shortcutpickr {
            overflow:hidden;
            border-bottom : 1px solid rgb(218,218,218);
            border-radius: 4px;      
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;     
            .flatpickr{
                &-calendar.animate.inline {
                    top:0;
                    width:100%;
                }
                &-prev-month, &-next-month {
                    display:flex;
                    align-items: center;
                }
                &-monthDropdown-months {
                    font-size : 0.85rem;
                    width:60%;
                    @media (max-width: 1380px){
                        font-size : 0.8rem;
                    }
                }
                &-current-month {
                    display:flex;
                    justify-content: space-between;
                    padding : 10px;
                    .numInputWrapper {
                        font-size : 0.85rem;
                        @media (max-width: 1380px){
                            font-size : 0.8rem;
                        }
                    }
                }
                &-weekdaycontainer {
                    display: flex;
                    justify-content: space-between;
                }
                &-innerContainer, &-rContainer,&-weekdays, &-days{
                    font-size:0.8rem;
                    @media (max-width: 1250px){
                        font-size : 0.7rem;
                    }
                }
                &-day {
                    font-size : 0.7rem;
                    height: 10%;
                    line-height: 30px;
                }
                &-days {
                    width:100%;
                }
            }
            .dayContainer{
                min-width:100%;
            }

        }
       
        &-options{
            border : 1px solid rgb(218,218,218);
            border-radius: 6px;
            margin-top: 5px;
            overflow: hidden;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            p {
                @include childCenter;
                border-radius: 4px 4px 0 0;
                font-size : 0.85rem;
                height: 50px;
                color : #FEFEFE;
                background : #42A6F5;
                @media (max-width: 1380px){
                    font-size : 0.8rem;
                }
            }
        }
        
    }
    &-display { //fullcalendar
        .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
            .fc-header-toolbar.fc-toolbar {
                margin-bottom: 20px;
                .fc-toolbar-chunk {
                    width : 33%;
                    &:nth-child(1){
                        @media (max-width: 800px){
                            font-size : 0.8rem;
                            width: 20%;
                        }
                    }
                    &:nth-child(2){
                        text-align: center;
                        @media (max-width: 800px){
                            font-size : 0.8rem;
                            width: 40%;
                        }
                    }
                    &:nth-child(3){
                        text-align : end;
                        @media (max-width: 800px){
                            font-size : 0.8rem;
                            width: 40%;
                        }
                    }
                    .fc-toolbar-title {
                        font-size: 1rem;
                        @media (max-width: 1250px){
                            font-size : 0.8rem;
                        }  
                    }
                    .fc-button-group {
                        width: 60%;
                    }
                    .fc-button.fc-button-primary {
                        width : 17%;
                        border-radius: 2px;
                        border:0.5px solid #a4a3a3;
                        background:$white;
                        color:grey;
                        font-size: 0.8rem;
                        line-height: 1.3;
                        text-align: center;
                        user-select: none;
                        box-shadow: none;
                        margin-left: 0;
                        &:hover {
                            background:$grey;
                            color:rgb(70, 70, 70);
                        }
                        @media (max-width: 1250px){
                            font-size : 0.7rem;
                        }
                        &:disabled {
                            background:$grey;
                            color:rgb(70, 70, 70);
                            border: none;
                            opacity:1;
                        }
                    }
                    .fc-button.fc-button-primary.fc-button-active {
                        background:$grey;
                        color:rgb(70, 70, 70);
                        border: none;
                    }
                    .fc-prev-button.fc-button.fc-button-primary, .fc-next-button.fc-button.fc-button-primary {
                        width:8%;
                        .fc-icon {
                            font-size: 0.8rem;
                        }
                    }
                    
                }
            }
            .fc-view-harness.fc-view-harness-active {
                font-size: 0.75rem;
                    .fc-scrollgrid.fc-scrollgrid-liquid { 
                        .fc-event {
                            opacity : 0.65;
                            &-main {
                                overflow : hidden;
                            }
                        }
                    }
            }
            .fc-daygrid-event {
                position : relative;
                font-size:0.7rem;
                max-height:15px;
                overflow: hidden;
                opacity : 0.65;
            }         
        }
    } 
    &-event-patient-link {
        color:$white;
        &:hover{
            text-decoration: underline !important;
            color:$white;
        }
    }  

    
}

.flatpickr {
    .numInputWrapper {
        font-size : 0.85rem;
        @media (max-width: 1380px){
            font-size : 0.8rem;
        }
    }
    &-calendar {
        max-width : 200px;
    }
    &-input {
        display:none;
    }
    &-monthDropdown-months {
        font-size : 0.85rem!important;
        width:60%;
        @media (max-width: 1380px){
            font-size : 0.8rem;
        }
    }
    &-prev-month {
        display:flex;
        align-items: center;
        padding : 10px 10px 0 10px;
    } 

    &-next-month {
        display:flex;
        align-items: center;
        padding : 0px 10px 10px 10px;
    }
    &-current-month {
        display:flex;
        justify-content: space-between;
        padding : 10px;
        input {
            outline:none;
        }
    }
    &-months {
        width: 100%;
        font-size : 0.7rem;
    }
    &-innerContainer, &-rContainer,&-weekdays, &-days{
        width : 100%;
    }
    &-day {
        font-size : 0.7rem !important;
        height: 10% !important;
        line-height: 30px !important;
        width:14% !important;
    }
    &-days {
        width:100% !important;
    }
    &-time {
        input {
            font-size: 0.7rem;
            outline:none;
        }
        .flatpickr-am-pm {
            font-size: 0.7rem;
        }
    }
    &-weekdaycontainer {
        display: flex;
        justify-content: space-between;
    }
    &-innerContainer, &-rContainer,&-weekdays, &-days{
        font-size:0.8rem;
        @media (max-width: 1250px){
            font-size : 0.7rem;
        }
    }
    &-day {
        font-size : 0.7rem;
        height: 30px;
        line-height: 30px;
    }
}
.dayContainer{
    min-width:100% !important;
}

.form-control  {
    &:read-only{
        outline:solid 1px $black;
    }
}
