.demographics {
    &-card {
        font-size: 0.8rem;
        width: 80%;
        margin: 20px auto;
        border: 1px solid $blue;
        border-radius: 4px; 
        &-header{
            display:flex;
            justify-content: space-between;
            background: $blue;
            padding : 10px;
            align-items: center;
            h1 {
                font-size:1.2rem;
                font-weight:bold;
            }
            &-btns {
                display: flex;
                justify-content: space-between;
                width: 18%;
            }
        }
        &-form {
            margin:10px;
            display:flex;
            justify-content:space-between;
            &-content {
                width:70%; 
                label{
                    font-weight: bold;
                    display: inline-block;
                    min-width: 160px;
                }
                input, select {
                    width: 160px;
                }
            }
            &-img {
                display: flex;
                flex-direction: column;
                width: 200px;
                height: 340px;
                overflow:hidden;
                margin-right:10px;
                p{
                    padding:0;
                }
                img{
                    align-self: flex-start;
                    height: 80%;
                    width: auto;
                }
                input[type="file"] {
                    &::-webkit-file-upload-button {
                        cursor: pointer;
                    }
                }
            }
            &-err {
                padding : 10px 20px;
                font-size: 0.9rem;
                width : 98%;
                margin:0 auto;
                color : red;
                background-color:rgba(255, 0, 0, 0.403);
                border-radius: 4px;
                text-align: center;
            }
        }
        &-sign {
            padding: 0 5px;
            text-align: right;
            font-size: 0.6rem;
            margin-bottom: 10px;
        }
    }
    
    
}