.documents {
    &__title {
        font-size: 1.2rem;
        margin-top: 60px;
        margin-bottom:30px;
        text-align: center;
    }
    &__err {
        padding : 10px 20px;
        font-size: 0.9rem;
        width : 100%;
        margin:10px auto;
        color : red;
        background-color:rgba(255, 0, 0, 0.403);
        border-radius: 4px;
        text-align: center;
    }
    &__table {
        table-layout:fixed;
        min-width:100%;
        border-collapse: collapse;
        font-size: 0.8rem;
        thead {
            background: $blue;
            border: solid 1px $black;
        }
        th {
            min-width: 120px;
            padding: 2px 5px;
            border: solid 1px $black;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &__item {
        td {
            text-align: center;
            border: solid 1px $black;
            padding: 2px 5px;
            word-break: break-word;
        }
    }
    &__link {
        cursor:pointer;
        color: blue;
        text-decoration: underline;
    }
    &__form {
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        padding: 40px; 
    }
    &__content {
        width:48%;
    }        
    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2px 0;
        label {
            width: 45%;
            font-weight: bold;
        }
        input {
            width: 55%;
        }
        input[type="submit"]{
            width:auto;
        }
    }
    &__btn-container {
        display: flex;
        justify-content: space-between;
        width:170px;
        margin: 20px auto 0;
    }
    
}