.guests {
    display : flex;
    align-items: center;
    position :relative;
    button {
        padding : 2px;
        font-size: 0.7rem;
        min-width : 80px;
    }
    &-edit {
        background:white;
        border : solid 1px $black;
        position:absolute;
        top:26px;
        left:0;
        width:50%;
        border-radius: 4px;
        overflow:scroll;
        padding: 10px;
        display: flex;
        flex-direction: column;
        ul {
            li {
                display:flex;
                justify-content: space-between;
                i {
                    cursor: pointer;
                }
            }
        }
        .button {   
            text-align:center;
            cursor: pointer;
            font-size:0.8rem;
            padding : 2px 5px;
        }
        &-buttons {
            display:flex;
            justify-content: space-around;
            margin-top: 10px;
        }
    } 
    .search-guests {
        background:white;
        border : solid 1px $black;
        border-radius:4px;
        height:300px;
        padding : 10px;
        display : grid;
        grid-template-columns: 50% 50%;
        width : 100%;
        .search-bar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            &-title {
                padding:5px;
                text-align: center;
                font-weight: bold;
            }
            &-item {
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                label{
                    min-width : 80px;
                }
                input {
                    font-size: 0.75rem;
                }
            }
            button {
                font-size: 0.7rem;
                cursor:pointer;
                margin:20px auto 0;
                width:80px;
            }
        }
        .results {
            padding : 5px;
            display : block;
            border : solid 1px black;
            border-radius: 4px;
            margin-left : 5px;
            overflow:scroll;
            li {
                display:flex;
                justify-content: space-between;
                i {
                    cursor :pointer;
                }
            }
        }
    } 
    
} 