.electronic {
    &-title {
        font-size: 1.2rem;
        margin-top: 60px;
        margin-bottom:30px;
        text-align: center;
    }
    &-err {
        padding : 10px 20px;
        font-size: 0.9rem;
        width : 100%;
        margin:10px auto;
        color : red;
        background-color:rgba(255, 0, 0, 0.403);
        border-radius: 4px;
        text-align: center;
    }
    &-table {
        table-layout:fixed;
        min-width:100%;
        border-collapse: collapse;
        font-size: 0.8rem;
        thead {
            background: $blue;
            border: solid 1px $black;
        }
        th {
            min-width: 120px;
            padding: 2px 5px;
            border: solid 1px $black;
            text-decoration: underline;
            cursor: pointer;
        }
        &-nofilter {
            text-decoration: none;
            cursor: default;
        }
    }
    &-item {
        td {
            text-align: center;
            border: solid 1px $black;
            padding: 2px 5px;
            word-break: break-word;
            input {
                width:auto;
            }
        }
        &-link {
            cursor:pointer;
            color: blue;
            text-decoration: underline;
        }
        &-btn-container {
            display: flex;
            justify-content: space-around;
        }
    }
    &-form {
        margin-top: 15px;
        &-explainations {
            font-size: 0.9rem;
            border: solid 1px $grey;
            border-radius: 4px;
            padding :10px;
            margin: 0 10px;
            li {
                padding: 5px 0;
            }
            ul:nth-child(1) {
                margin-left: 10px;
                margin-top: 5px;
            }
        }
    }
    &-btn-container {
        display: flex;
        justify-content: space-between;
        width:150px;
        margin: 20px auto 0;
    }
}


