.header {
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 10px 15px;
  background: $blue;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: solid 0.5px $grey;
  justify-content: space-between;
  align-items: center;
  &--patient {
    grid-template-columns: 15% 70% 15%;
  }
  &--login {
    background: rgb(238, 174, 202);
    background: linear-gradient(
      90deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    grid-template-columns: 25% 75%;
  }
  &__logo {
    height: 35px;
    width: 130px;
    background: url(../../assets/img/logo.png) center/cover;
    cursor:pointer;
  }
  &__nav {
    ul {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
    }
    &--patient {
      ul{
        justify-content: flex-end;
      }
    }
  }
  &__link {
    &--active {
      font-weight: bold;
    }
    &--patient {
      margin-right: 40px;
    }
  }
  &__title {
    font-family: $font1;
    text-align: right;
    font-size: 1rem;
    text-align: end;
  }
}
