.login-header {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  position: sticky;
  top: 0px;
  .logo {
    background: url(../../assets/img/logo.png) center/cover;
    height: 35px;
    width: 130px;
    text-align: center;
  }
  h1 {
    font-family: $font1;
    text-align: right;
    font-size: 1rem;
  }
}
