.measurements {
    &-title {
        font-size: 1.2rem;
        margin-top: 60px;
        margin-bottom:30px;
        text-align: center;
    }
    &-err {
        padding : 10px 20px;
        font-size: 0.9rem;
        width : 100%;
        margin:10px auto;
        color : red;
        background-color:rgba(255, 0, 0, 0.403);
        border-radius: 4px;
        text-align: center;
    }
    &-table {
        table-layout: fixed;
        border-collapse: collapse;
        border: solid 1px black;
        font-size: 0.8rem;
        margin: 0 auto;
        thead {
            background-color: $blue;
            border: solid 1px $black;
        }
        th {
            min-width: 80px;
            padding: 2px 5px;
            border: solid 1px $black;
            text-decoration: underline;
            cursor:pointer;
        }
        &-nofilter {
            text-decoration: none;
            cursor: default;
        }
    }
    &-event, &-form {
        td {
            text-align: center;
            border: solid 1px $black;
            padding: 2px 5px;
            word-break: break-word;
            input {
                width:100%;
            }
        }
        &-btn-container {
            display: flex;
            justify-content: space-around;
        }
    }
    &-btn-container {
        display: flex;
        justify-content: space-between;
        width:190px;
        margin: 20px auto 0;
    }
    
}