.medications {
    &-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
    }
    &-err {
        background:$red;
        padding: 10px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    &-table {
        table-layout: fixed;
        border-collapse: collapse;
        border: solid 1px $black;
        font-size: 0.8rem;
        margin: 0 auto;
        thead{
            background-color: $blue;
            border: solid 1px $black;
        }
        th {
            min-width: 75px;
            padding: 2px 5px;
            border: solid 1px $black;
            text-decoration: underline;
            cursor: pointer;
        }
        &-nofilter {
            text-decoration: none;
            cursor: default;
        }
    }
    &-btn-container {
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin: 20px auto 0;
        font-size:0.8rem;
    }
    &-event {
        &--notactive {
            background:$grey;
        }
        td {
            text-align: center;
            border: solid 1px $black;
            padding: 2px 5px;
            word-wrap: break-word;
            min-width: 80px;
        }
        &-btn-container {
            display: flex;
            justify-content: space-around;
        }
        &-input1 {
            width: 200px;
            font-size: 0.8rem;
        }
        &-input2 {
            width: 80px;
        }
        &-input3 {
            width: 90px;
        }
        &-input4 {
            width: 90px;
        }
    }
    &-form{
        &-container {
            font-size: 0.8rem;
            display: flex;
            justify-content: space-between;
            padding: 40px;
            form {
                width: 48%;
            }
        }
        &-allergies {
            color:red;
            margin-bottom: 10px;   
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:2px 0;
            label {
                width:45%;
            }
            input {
                width: 55%;
            }
        }
    }
    &-search {
        width:45%;
        &-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            label {
                margin-right: 10px;
            }
            input {
                width:180px;
            }
            progress {
                width:10px;
                height:10px;
            }
        }

    }
}