.pharmacies {
    &-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
    }
    &-err {
        background: $red;
        padding: 10px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    &-table {
        table-layout: fixed;
        border-collapse: collapse;
        border : solid 1px $black;
        font-size: 0.8rem;
        margin: 0 auto;
        thead {
            background-color: $blue;
            border : solid 1px $black;
            th {
                min-width: 90px;
                padding: 2px 5px;
                border : solid 1px $black;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    &-btn-container {
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin: 20px auto 0;
        font-size:0.8rem;
    }
    &-item, &-form {
        td {
            text-align: center;
            border: solid 1px black;
            padding: 2px 5px;
            word-wrap: break-word;
            max-width: 370px;
            select {
                width:150px;
            }
        }
        &-input1 {
            width: 300px;
        }
        &-input2 {
            width: 140px;
        }
        &-input3 {
            width: 200px;
        }
        &-input4 {
            width: 90px;
        } 
        &-btn-container {
            display: flex;
            justify-content: space-around;
        } 
    }
    &-list {
        &-title {
            margin-top: 40px;
            margin-left: 20px;
            button {
                margin-left: 20px;
            }
        }
        &-table {
            table-layout: fixed;
            border-collapse: collapse;
            border: solid 1px $black;
            font-size: 0.8rem;
            margin: 10px auto 0;
            thead {
                background-color: $blue;
                border: solid 1px $black;
            }
            th {
                min-width: 90px;
                padding: 2px 5px;
                border: solid 1px $black;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        &-item {
            td {
                text-align: center;
                border: solid 1px $black;
                padding: 2px 5px;
                word-wrap: break-word;
                max-width: 370px;
            }
        }
    }

}