.progress-notes {
    font-size: 0.85rem;
    border : solid 1px $black;
    border-radius: 2px;
    &-header {
        position:sticky;
        top:0;
    }
    &-title {
        padding : 5px 10px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: $blue;
        border-bottom: solid 1px $black;
        i {
            cursor: pointer;
        }
    }
    &-toolbar {
        border-bottom:solid 1px $black;
        margin-bottom: -1px;
        padding : 5px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background:rgb(215, 215, 215);
        label {
            padding : 5px;
        }
        button {
            padding : 2px 5px;
            margin : 0 5px;
            cursor: pointer;
        }
        &-search {
            cursor:pointer;
        }
        &-order {
            display: flex;
            justify-content: flex-start;
            width : 30%;
            &-radio-item {
                display: flex;
                align-items: center;
            }
        }
    }
    &-content {
        max-height:0;
        overflow: hidden;
        transition:0.3s;
        overflow-y: scroll;
        &--active {
            max-height: 200vh;
        }
    }
    &-card {
        border: solid 1px $black;
        margin:4px;
        border-radius: 4px;
        overflow:hidden;
        &-header {
            padding:5px 10px;
            background-color: $blue;
            &-row {
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
            }
            &-author {
                input, p {
                    padding:5px;
                    margin:0;
                }
                display:flex;
                justify-content: space-between;
                align-items: center;
            }
            &-object {
                input {
                    min-width: 500px;
                }
            }
            &-version {
                display:flex;
                justify-content: space-between;
                align-items: center;
                select{
                    margin-left:5px;
                    width:50px;
                }
            }
            &-btns {
                margin-left: 5px;
                button {
                    padding : 3px 15px;
                    border-radius: 4px;
                    border : solid 1px $black;
                    cursor: pointer;
                }
            }
            &-check {
                margin-right :5px;
            }
            &--folded {
                display:flex;
                justify-content: space-between;
                align-items: center;
                &-title {

                }
            }
        }
        &-body {
            padding : 20px;
            text-align: justify;
            &-footer {
                text-align:end;
                font-size:0.6rem;
                font-style: italic;
                margin-bottom:5px;
            }
            &-edit {
                font-family: "Roboto";
                padding : 10px;
                display:block;
                margin: 0 auto;
                width : 98%;
                overflow-y:scroll;
                resize:none;
                border:none;
                outline:solid 1px $black;
                border-radius:2px;
                &:focus {
                    outline:solid 2px $blue;
                }
            }
            p {
                white-space: pre;
            }
        }
        &-body-container {
            max-height: 0; 
            transition: 0.3s;
            overflow: scroll;
            &--active {
                max-height: 1000px;
            }
        }
        &-version {
            display:flex;
            justify-content: space-between;
            align-items: center;
            button {
                padding:2px 5px;
                cursor:pointer;
            }
        }
        &-print {
            border: solid 1px $black;
            margin: 4px;
            border-radius: 4px;
            overflow: hidden;
            font-size: 0.85rem;
            print-color-adjust: exact;
            &-header {
                padding: 10px;
                background-color: $blue;
                &-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        
    }
    &-form {
        border: solid 1px $black;
        margin:4px;
        border-radius: 4px;
        overflow:hidden;
        &-header {
            background:#D7D7D7;
            padding:10px;
        }
        &-row--author{
            display:flex;
            justify-content: space-between;
            align-items: center;
            p {
                padding:2px;
            }
            // margin:0 0 0 10px;
        }
        &-row {
            margin: 10px 0;
            display:flex;
            justify-content: space-between;
            align-items: center;
            input{
                padding:2px 5px;
                width : 400px;
            }
            &-template {
                select {
                    border: none;
                    outline: solid 1px $black;
                    border-radius: 2px;
                    &:focus {
                        outline: solid 2px #94BAE8;
                    }
                }

            }
            
        }
        &-submit {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            &-btn {
                width: 100px;
                padding: 2px 5px;
                cursor:pointer;
                margin:0 5px;
            }
        }
        &-area {
            margin: 20px 0;
            textarea {
                display:block;
                resize: none;
                overflow-y: scroll;
                padding : 10px;
                font-family: "Roboto", sans-serif;
                width: 95%;
                border: none;
                border-radius: 3px;
                outline: solid 1px $black;
                height: 300px;
                margin: 0 auto;
                padding: 10px;

            }
        }

    }
    &-attachments {
        display:flex;
        padding:15px;
        &-card {
            border: solid 1px $black;
            width: 20%;
            margin: 0 5px;
            &-thumbnail {
                height: 80px; 
                overflow: hidden;
                position:relative;
                cursor:pointer;
                iframe {
                    border:none;
                    cursor:pointer;
                }
            }
            &-footer {
                background: rgb(154, 154, 154);
                padding: 5px;
                font-size: 0.7rem;
                display:flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &-print-page {
        padding : 40px;
    }
}
@media print {
    .progress-notes-print-page-btn {
        display: none !important;
    }
}