.sochistory {
    &-card {
        font-size: 0.8rem;
        width: 80%;
        margin: 60px auto;
        border: 1px solid $blue;
        border-radius: 4px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &-header{
            display:flex;
            justify-content: space-between;
            background-color: $blue;
            padding: 10px;
            align-items: center;
            h1 {
               font-size: 1.2rem;
               font-weight: bold;

            }
            &-btns {
                display:flex;
                justify-content: space-between;
                button {
                    margin-left: 5px;
                }
            }
        }
        &-form {
            margin: 10px 0;
            label {
                font-weight: bold;
                display: inline-block;
                min-width: 150px;
            }
            input {
                min-width: 30px;
            }
            &-btns {
                width:100%;
                text-align: center;
                margin-top: 10px;
                button {
                    margin-right: 10px;
                }
            }
            &-err {
                padding : 10px 20px;
                font-size: 0.9rem;
                width : 100%;
                margin:0 auto 10px;
                color : red;
                background-color:rgba(255, 0, 0, 0.403);
                border-radius: 4px;
                text-align: center;
            }
        }
    }
}