.toggle-view {
    width : 13%;
    @media (max-width: 1250px){
        left : 73%;
    }
    @media (max-width: 950px){
        left : 69%;
        width :130px;
        top:84px;
    }
    @media (max-width: 800px){
        left : 63%;
        width :125px;
    }
    @media (max-width: 700px){
        left : 435px;
    }


    margin : 10px auto 15px;
    position : absolute;
    left:74%;
    top:92px;
    &-option {
        color:grey;
        display:inline-block;
        width : 70px;
        @media (max-width: 1250px){
            width:auto;
        }
        text-align: center;
        font-size : 0.8rem;
        padding : 6px 10px;
        border : solid 0.8px #A7A6A6;
        border-radius: 2px;
        cursor:pointer;
        @media (max-width: 1250px){
            font-size : 0.7rem;
        }
        &:hover{
            background:$grey;
            color:rgb(70, 70, 70);
        }
        &--active{
            background:$grey;
            color:rgb(70, 70, 70);
            border: none;
        }
    }
}