.vaccines {
    &-err {
        background:$red;
        padding: 10px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    &-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
    }
    &-table {
        padding:0 10px;
        table-layout: fixed;
        border-collapse: collapse;
        border: solid 1px $black;
        font-size: 0.8rem;
        margin: 0 auto;
        margin-bottom: 10px;
        thead {
            background-color: $blue;
            border: solid 1px $black;
        }
    }
    &-obs {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 15px;
        &-title {
            padding: 0;
            margin: 0;
        }
        &-content {
            width: 100%;
            height: 200px;
            outline: solid 1px $black;
            border: none;
            padding: 10px;
            font-size: 0.8rem;
            margin: 10px 0 0;
            border-radius: 3px;
            box-sizing: border-box;
        }
        textarea {
            width: 100%;
            height: 200px;
            padding: 10px;
            margin: 10px 0 0;
            box-sizing: border-box;
            font-family: $font1, sans-serif;
            resize: none;
        }
        &-btn-container {
            margin-top: 10px;
            text-align: end;
            width: 100%;
        }
    }
    &-item {
        td {
            text-align: center;
            border: solid 1px $black;
            padding:2px 5px;
            word-wrap: break-word;
        }
        &-empty {
            background: $grey;
        }
        &-cell {
            display: flex;
            font-size: 0.7rem;
            align-items: center;
            justify-content: flex-start;
            label {
                margin-left: 3px;
            }
            &-checked {
                color: forestgreen;
            }
            &-multiple-btn {
                width: 20px;
                height: 20px;
                margin-left: 5px;
                padding:0;
            }
            form {
                label {
                    font-size: 0.8rem;
                }
            }
            &-form-row1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px auto;
                width: 90%;
            }
            &-form-row2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px auto 0;
                width: 45%;
            }
        }
    }
}