@import "./settings";
@import "./pages/loginPage";
@import "./pages/calendarPage";
@import "./pages/searchPatientPage";
@import "./pages/missingPage";
@import "./pages/unauthorizedPage";
@import "./pages/signupPage";
@import "./pages/myaccountPage";
@import "./pages/credentialsPage";
@import "./pages/patientaccountPage";
@import "./pages/patientAppointmentsPage";
@import "./pages/resetPage";
@import "./pages/calvinAIPage";
@import "./pages/referencePage";
@import "./pages/patientRecordPage";
@import "./pages/docMailboxPage";
@import "./pages/messagesPage";
@import "./pages/billingPage";
@import "./pages/messagesPatientPage";
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/css/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/css/regular";
@import "./components/header";
@import "./components/carousel";
@import "./components/footer";
@import "./components/loginCard";
@import "./components/calendar";
@import "./components/shortcutPickr";
@import "./components/calendarFilter";
@import "./components/eventForm";
@import "./components/guestsCheckboxes";
@import "./components/filterCheckboxes";
@import "./components/slotSelect";
@import "./components/firstDaySelect";
@import "./components/welcome";
@import "./components/toggleView";
@import "./components/patientSearchForm";
@import "./components/patientSearchResult";
@import "./components/patientRecord";
@import "./components/patientMenu";
@import "./components/progressNotes";
@import "./components/patientTopic";
@import "./components/triangle";
@import "./components/demographics";
@import "./components/medHistory";
@import "./components/famHistory";
@import "./components/socHistory";
@import "./components/risk";
@import "./components/medications";
@import "./components/pharmacies";
@import "./components/doctors";
@import "./components/measurements";
@import "./components/reminders";
@import "./components/pregnancies";
@import "./components/allergies";
@import "./components/concerns";
@import "./components/documents";
@import "./components/appointments";
@import "./components/vaccines";
@import "./components/confirmDialog";
@import "./components/prescription";
@import "./components/signupPatient";
@import "./components/signupStaff";
@import "./components/myAccount";
@import "./components/messages";
@import "./components/relationships";
@import "./components/verifyPwd";
@import "./components/credentialsForm";
@import "./components/eforms";
@import "./components/accountPatient";
@import "./components/availability";
@import "./components/pastAppointments";
@import "./components/newAppointments";
@import "./components/docmailbox";
@import "./components/reset";
@import "./components/calvinai";
@import "./components/calvinaiChat";
@import "./components/typing";
@import "./components/window";
@import "./components/staffAIAgreement";
@import "./components/patientAIAgreement";
@import "./components/billing";
@import "./components/diagnosisSearch";
@import "./components/hinSearch";
@import "./components/reference";
@import "./components/missing";
@import "./components/unauthorized";
@import "flatpickr/dist/themes/material_blue.css";






